{% extends "profiles/base.jinja2" %}
{% load static %}

{% block title %}Страница авторизации{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">Вход</h3>
        </div>
        <div class="clear"></div>
        <form action="#" method="post">
            {% csrf_token %}
            <div>
                {{ form.non_field_errors }}
                <input class="user-input" type="text" name="email" id="name" placeholder="E-mail" />
            </div>
            <div>
                <input type="password" name="password" id="name" placeholder="*********" />
            </div>
            <div>
                <input type="submit" value="Войти" />
            </div>
            <a class="forgot-label" href="{% url 'profiles:password_reset' %}">Забыли пароль?</a>
            <a class="registr" href="{% url 'profiles:registration_user' %}">
                Регистрация
            </a>
        </form>
    </div>
{% endblock %}

</html>
