{% extends "general/base.jinja" %}

{% block title %}Запрос на восстановление пароля{% endblock %}

{% block content %}
    <h1>Забыли пароль?</h1>
    <p>Введите свой адрес электронной почты ниже, и мы вышлем инструкции по настройке нового пароля.</p>

    <form method="POST">
    {% csrf_token %}

    <p class="auth-name">
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">Емейл:</label>{{ form.email }}
    </p>
    <input type="submit" value="Отправить">
    </form>
{% endblock %}
