{% extends "general/base.jinja2" %}
{% load static %}

{% block title %}
    Страничка редактирования профиля
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="Middle Middle_top">
            <div class="Section Section_column Section_columnLeft">
                <div class="wrap">
                    <div class="Section-column">
                        <div class="Section-columnSection">
                            <header class="Section-header">
                                <strong class="Section-title">Навигация
                                </strong>
                            </header>
                            <div class="Section-columnContent">
                                <div class="NavigateProfile">
                                    <ul class="menu menu_vt">
                                        <li class="menu-item"><a class="menu-link" href="#">Личный кабинет</a>
                                        </li>
                                        <li class="menu-item_ACTIVE menu-item"><a class="#" href="">Профиль</a>
                                        </li>
                                        <li class="menu-item"><a class="menu-link" href="#">История заказов</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Section-content">
                        <div class="Profile">
                            <form class="form Profile-form" action="{% url 'profiles:profile' %}"
                                method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="row-block">
                                        <div class="form-group">
                                            <label class="form-label" for="form.avatar.id_for_label">Аватар
                                            </label>
                                            {% if profile.avatar %}
                                                <img width="280" src="{{ profile.avatar.url }}">
                                                <form method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ profile_form.avatar }}
                                                    <button type="submit">Изменить фото</button>
                                                </form>
                                            {% else %}
                                                <div class="Profile-avatar Profile-avatar_noimg">
                                                    <label class="Profile-fileLabel" for="profile_form.avatar.id_for_label">
                                                    <img width="100" src="static/assets/img/icons/upload.png" />Загрузить фото
                                                    </label>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            <div class="user-input" for={{ user_form.name.id_for_label }}>ФИО
                                            </div>
                                            {{ user_form.name }}
                                        </div>
                                    </div>
                                    <div class="row-block">
                                        <div class="form-group">
                                            <div class="user-input" for="{{ profile_form.phone.id_for_label }}">Телефон
                                            </div>
                                            {{ profile_form.phone }}
                                        </div>
                                        <div class="form-group">
                                            <div class="form-label" for="{{ user_form.email.id_for_label }}">E-mail
                                            </div>
                                            {{ user_form.email }}
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="{{ user_form.password.id_for_label }}">Пароль
                                            </label>
                                            {{ user_form.password }}
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label" for="{{ user_form.password_check.id_for_label }}">Подтверждение пароля
                                            </label>
                                            {{ user_form.password_check }}
                                        </div>
                                        <div class="form-group">
                                            <div class="Profile-btn">
                                                <button class="btn btn_success" type="submit">Сохранить
                                                </button>
                                            </div>
                                            <div class="Profile-success">Профиль успешно сохранен
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    {% else %}
        <h2>Пользователь не авторизован</h2>
    {% endif %}

{% endblock %}