<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Заголовок
        {% endblock %}
    </title>
</head>

<body class="Site">
    {% block body %}

        <header class="Header">
            <h1>Header<h1>
        </header>

        <main class="Main">
            {% block content %}
                <h1>Ваш контент<h1>
            {% endblock %}
        </main>

        <footer class="Footer">
            <h1>Footer<h1>
        </footer>
    {% endblock %}
</body>
</html>
