{% extends "general/base.jinja2" %}
{% load static %}
{% block content %}
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
            {% if basket %}
                {% for item in basket %}
                    {% with product=item.offer.product offer=item.offer %}
                        <div class="Cart-product">
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="assets/img/content/home/card.jpg" alt="card.jpg" /></a>
                                </div>
                                <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#"> {{product.name}}</a>
                                    <div class="Cart-desc">{{product.description}}
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_price">
                                    <div class="Cart-price"> {{item.price}}
                                    </div>
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_row">
                                <div class="Cart-block Cart-block_seller">
                                    <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                                </div>
                                <div class="Cart-block Cart-block_amount">
                                    <div class="Cart-amount">
                                        <div class="Amount">
                                            <button class="Amount-remove" type="button">
                                            </button>
                                            <span class="Amount-input form-input> {{item.amount}} </span>
                                            <button class="Amount-add" type="button">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="#"><img src="{% static "assets/img/icons/card/delete.svg" %}" alt="delete.svg" /></a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
                    <div class="Cart-total">
                        <div class="Cart-block Cart-block_total">
                            <strong class="Cart-title">Итого:
                            </strong><span class="Cart-price">{{cart.get_total_price}}</span>
                        </div>
                        <div class="Cart-block"><a class="btn btn_success btn_lg" href="order.html">Оформить заказ</a>
                        </div>
                    </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}